/******************/
/* General Layout */
/******************/

@font-face {
    font-family: 'My Lucida';
    src: url('../font/LucidaGrande.ttf');
    font-style: normal; 
    font-weight: bold;
}

*{

}
/******************/
/* Header         */
/******************/
body > header {
	background: linear-gradient(to bottom, #efefef, white) no-repeat;
}

input.search {
  height: 28px;
  width: 300px;
  font-size: 13px;
  padding: 3px 6px 3px 25px;
  margin: 0 0 0 40px;
  border: 1px solid hsl(209, 36%, 86%);
  border-radius: 15px;
  box-shadow: inset 1px 1px 5px #d5d5d5;
}

/******************/
/* Metro List     */
/******************/
 .no_display{
 	display: none;
 }

